*~
*.o
*.ps
*.out
*.keep
Debug
CMakeLists.txt.user*
*.err
*.usa
*.pyc
*.log
*.html
.cproject
.project

#Qt creator
magics.config
magics_*.config
*.creator
*.creator.*
magics.includes
magics_*.includes
magics.files
magics_*.files



*.sublime-workspace
notebook/.ipynb_checkpoints
