*~
*.o
*.ps
*.out
*.keep
Debug
CMakeLists.txt.user*
*.err
*.usa
*.pyc
*.log
*.html
.cproject
.project

#Qt creator
magics.config
magics_*.config
*.creator
*.creator.*
*.cflags
*.cxxflags
magics.includes
magics_*.includes
magics.files
magics_*.files

build
.ipynb_checkpoints

.vscode
*.sublime-workspace
notebook/.ipynb_checkpoints
compile_commands.json
.vagrant/
?
*.png
*.autosave
?.*
tmp.*
*.ppm
.env
*.swp
